@import "index-home/portada";
@import "index-home/planes";
@import "index-home/beneficios";
@import "index-home/word";
@import "index-home/dominio";
@import "index-home/faq";
@import "index-home/contacto";
@import "index-home/footer";
@import "resumen/resumen";

/* Celulares */
@media only screen and (min-width: 320px) and (max-width: 600px) {

  // portada
  .portada {
    .portada-text-img {
      flex-direction: column;
      justify-content: unset;
      height: 90%;

      .portadaText {
        height: 65%;
        text-align: center;
      }
    }

    .waveContenedor {
      width: 100%;
      height: 10%;
    }

    .portadaImg {
      height: 35%;

      img {
        position: absolute;
        left: 25%;
        right: 25%;
        top: 300px;
        height: 250px;
        width: 50%;
      }
    }

  }

  // fin portada

  // planes
  .planes {
    height: 140.25rem;
    align-items: center;

    .planesTitle {
      height: 80px;
    }

    .tarjetasPlanes {
      margin-top: 10%;
      width: 90%;

      .card-group {
        flex-direction: column;
      }

      .card {
        height: 100%;
      }
    }

    h3 {
      padding-left: 10px;
      padding-right: 10px;


    }

  }

  // fin planes

  //beneficios 
  .beneficiosContenedor {
    height: 250rem;

    h2 {
      margin-bottom: 20px;
    }

    .beneficios {
      height: 95%;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      grid-template-columns: 1fr;
      grid-template-areas:
        "performance"
        "dispo"
        "soporte"
        "backup"
        "defensa"
        "apps"
        "panel"
        "ssl"
        "db";

      .beneficiosCard {
        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }

  // fin beneficios
  // word
  .opWord {
    flex-direction: column;
    height: 550px;

    .opWordDesc {
      padding-top: 50px;
      text-align: center;
      align-items: center;
      width: 90%;

      .btn {
        width: 50%;
      }
    }

    img {
      width: 250px;
      height: 150px;
    }
  }

  // fin word
  // dominios
  .domSection {
    .domSectionContent {
      padding-top: 100px;

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 20px;
      }
    }

    .imgDom {
      img {
        height: 300px;
        width: 300px;
      }
    }

    .busqDom {
      width: 300px;

      .searchDom {
        width: 80%;
      }
    }

    h3 {
      text-align: center;
      font-size: 20px;
    }
  }

  // fin dominios
  // faq
  .faqContenedor {
    .accordion {
      width: 90%;
      padding: 5px;
    }

    .accordion-body {
      img {
        width: 95%;
        height: 95%;
      }

      h5 {
        font-size: 18px;
      }
    }
  }

  // fin faq
  //contacto 
  .contacto {
    .contenedorContacto {
      margin: 0;
      width: 80%;
      margin: auto;

      .contactoBotones {
        flex-direction: column;

        .btn {
          margin: 10px;
        }
      }
    }

    form {
      .formDatos {
        flex-direction: column;

        .formNombres {
          #nombre {

            width: 90%;
            margin-top: 10px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
          }

          #apellido {
            width: 90%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
          }
        }

        .formMedios {
          #email {
            width: 90%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
          }

          #tel {
            width: 90%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
          }

        }
      }

      .formBack {
        width: 80%;
        margin: auto;
      }


    }
  }

  // fin contacto 
  // foooter
  .footer {
    position: relative;
    flex-direction: column;
    height: 39vh;


    .copy {
      height: 30%;
      width: 80%;
      height: 50%;
      margin: auto;
    }

    .redes {
      width: 80%;
      height: 50%;
      margin: auto;

      .redesIcons {
        width: 250px;
        height: 55px;
      }
    }

  }

  // fin footer



  /*resumen*/


  .compraContainer {
    flex-direction: column;
    height: auto;

    #resumenVisible {
      width: 95%;
      padding: 0;

      #resumen {
        margin-top: 50px;
        width: 90%;
        padding: 20px;
        height: unset;
        margin: 30px auto;
      }
    }



    .compra {
      width: 95%;
      margin-top: 10px;
      height: 500px;

      .resumen-body {
        .meses {
          padding: 0;

          li {
            height: 60px;
            width: 100px;
            font-size: 12px;
          }
        }

        .sistemaOperativoContainer {
          font-size: 12px;

          .soWin {
            .fa-windows {
              font-size: 20px;
            }
          }

          .soLin {
            .fa-linux {
              font-size: 25px;
            }
          }
        }

        .certificadoSsl {
          font-size: 12px;
          margin-bottom: 16px;

          .sslBoton {
            .fa-shield {
              font-size: 25px;
            }
          }
        }

        .codigoDescuento {
          flex-direction: column;

          input {
            height: 35px;
            width: 90%;
            font-size: 11px;
          }
        }
      }
    }
  }



  .start-100 {
    left: 98% !important;
    top: -3px !important;
  }

  /*fin resumen*/
  .modal-content {
    height: 510px;
    width: 90%;
    margin: auto;

    .modal-body {
      legend {
        font-size: 16px;
      }

      .formBack {
        .formDatos {
          flex-direction: column;
          justify-content: unset;
          height: 260px;
          width: 284px;
          margin: auto;
          
          .formNombres {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;

            .alertName {
              display: flex;
              flex-direction: row;
              width: 270px;
              justify-content: center;

              .alertIconName {
                width: 30px;

                .fa-triangle-exclamation {
                  position: unset;
                  // top: 80px;
                  // left: 333px;
                }
              }
            }

            .alertLastName {
              display: flex;
              flex-direction: row;
              width: 270px;
              justify-content: center;

              .alertIconLastName {
                width: 30px;

                .fa-triangle-exclamation {
                  position: unset;
                  // bottom: 187px;
                  // left: 333px;
                }
              }
            }
          }

          input {
            width: auto;
          }

          .formMedios {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            align-items: center;
            margin-top: 45px;

            .alertEmail {
              display: flex;
              flex-direction: row;
              width: 270px;
              justify-content: center;

              .alertIconEmail {
                width: 30px;

                .fa-triangle-exclamation {
                  position: unset;
                }
              }
            }

            .alertTel {
              display: flex;
              flex-direction: row;
              width: 270px;
              justify-content: center;

              .alertIconTel {
                width: 30px;

                .fa-triangle-exclamation {
                  position: unset;
                  // bottom: 50px;
                  // left: 333px;

                }
              }
            }
          }




        }
      }
    }
  }
}

/* Fin Celulares */

/*Tablet*/
@media only screen and (min-width: 601px) and (max-width: 768px) {

  // portada
  .portada {
    .portada-text-img {
      flex-direction: column;
      justify-content: unset;
      height: 90%;

      .portadaText {
        height: 65%;
        text-align: center;
      }
    }

    .waveContenedor {
      width: 100%;
      height: 10%;
    }

    .portadaImg {
      height: 35%;

      img {
        position: absolute;
        left: 25%;
        right: 25%;
        top: 300px;
        height: 250px;
        width: 50%;
      }
    }

  }

  // fin portada

  // planes
  .planes {
    height: 131.25rem;
    align-items: center;

    .planesTitle {
      height: 80px;
    }

    .tarjetasPlanes {
      margin-top: 10%;
      width: 70%;

      .card-group {
        flex-direction: column;
      }

      .card {
        height: 100%;
      }
    }

    h3 {
      padding-left: 10px;
      padding-right: 10px;


    }

  }

  // fin planes

  //beneficios 
  .beneficiosContenedor {
    height: 250rem;

    h2 {
      margin-bottom: 20px;
    }

    .beneficios {
      height: 95%;
      width: 70%;
      margin: auto;
      grid-template-columns: 1fr;
      grid-template-areas:
        "performance"
        "dispo"
        "soporte"
        "backup"
        "defensa"
        "apps"
        "panel"
        "ssl"
        "db";

      .beneficiosCard {
        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }

  // fin beneficios
  // word
  .opWord {
    flex-direction: column;
    height: 550px;

    .opWordDesc {
      padding-top: 50px;
      text-align: center;
      align-items: center;
      width: 90%;

      .btn {
        width: 50%;
      }
    }

    img {
      width: 250px;
      height: 150px;
    }
  }

  // fin word
  // dominios
  .domSection {
    .domSectionContent {
      padding-top: 100px;

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 20px;
      }
    }

    .imgDom {
      img {
        height: 300px;
        width: 300px;
      }
    }

    .busqDom {
      width: 300px;

      .searchDom {
        width: 80%;
      }
    }

    h3 {
      text-align: center;
      font-size: 20px;
    }
  }

  // fin dominios
  // faq
  .faqContenedor {
    .accordion {
      width: 90%;
      padding: 5px;
    }

    .accordion-body {
      img {
        width: 95%;
        height: 95%;
      }

      h5 {
        font-size: 18px;
      }
    }
  }

  // fin faq
  //contacto 
  .contacto {
    .contenedorContacto {
      margin: 0;
      width: 80%;
      margin: auto;

      .contactoBotones {

        flex-direction: column;

        .btn {
          margin: 10px;
        }
      }
    }

    form {
      .formDatos {
        flex-direction: column;

        .formNombres {
          #nombre {

            width: 90%;
            margin-top: 10px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
          }

          #apellido {
            width: 90%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
          }
        }

        .formMedios {
          #email {
            width: 90%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
          }

          #tel {
            width: 90%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
          }

        }
      }

      .formBack {
        width: 80%;
        margin: auto;
      }


    }
  }

  // fin contacto 
  // foooter
  .footer {
    position: relative;
    flex-direction: column;
    height: 55vh;

    .copy {
      height: 30%;
      width: 80%;
      height: 50%;
      margin: auto;
    }

    .redes {
      width: 80%;
      height: 50%;
      margin: auto;

      .redesIcons {
        width: 250px;
        height: 55px;
      }
    }

  }

  // fin footer
  /*resumen*/


  .compraContainer {
    flex-direction: column;
    height: auto;

    #resumenVisible {
      width: 95%;
      padding: 0;

      #resumen {
        margin-top: 50px;
        width: 60%;
        padding: 20px;
        height: unset;
        margin: 30px auto;
      }
    }



    .compra {
      // justify-content: space-around;
      width: 95%;
      margin-top: 10px;
      height: 500px;

      .resumen-body {
        .meses {
          // flex-direction: column;
          padding: 0;

          li {
            height: 60px;
            width: 100px;
            font-size: 15px;
          }
        }

        .sistemaOperativoContainer {
          font-size: 15px;

          .soWin {
            .fa-windows {
              font-size: 20px;
            }
          }

          .soLin {
            .fa-linux {
              font-size: 25px;
            }
          }
        }

        .certificadoSsl {
          font-size: 15px;
          margin-bottom: 16px;

          .sslBoton {
            .fa-shield {
              font-size: 25px;
            }
          }
        }

        .codigoDescuento {
          flex-direction: column;
          align-items: center;

          input {
            height: 35px;
            width: 90%;
            font-size: 15px;
          }
        }
      }
    }
  }



  .start-100 {
    left: 98% !important;
    top: -3px !important;
  }

  /*fin resumen*/
  .modal-content {
    height: 460px;
    width: 85%;
    margin: auto;

    .modal-body {
      legend {
        font-size: 16px;
      }

      .formBack {
        .formDatos {
          flex-direction: column;
          justify-content: unset;
          height: 260px;
          width: 284px;
          margin: auto;

          .formNombres {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;

            .alertName {
              display: flex;
              flex-direction: row;
              width: 270px;
              justify-content: center;

              .alertIconName {
                width: 30px;

                .fa-triangle-exclamation {
                  position: unset;
                  // top: 80px;
                  // left: 333px;
                }
              }
            }

            .alertLastName {
              display: flex;
              flex-direction: row;
              width: 270px;
              justify-content: center;

              .alertIconLastName {
                width: 30px;

                .fa-triangle-exclamation {
                  position: unset;
                  // bottom: 187px;
                  // left: 333px;
                }
              }
            }
          }

          input {
            width: auto;
          }

          .formMedios {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            align-items: center;
            margin-top: 45px;

            .alertEmail {
              display: flex;
              flex-direction: row;
              border: 2px solid gray;
              width: 270px;
              justify-content: center;

              .alertIconEmail {
                width: 30px;
                border: 2px solid blue;

                .fa-triangle-exclamation {
                  position: unset;
                  // top: 220px;
                  // left: 333px;
                }
              }
            }

            .alertTel {
              display: flex;
              flex-direction: row;
              border: 2px solid gray;
              width: 270px;
              justify-content: center;

              .alertIconTel {
                width: 30px;
                border: 2px solid blue;

                .fa-triangle-exclamation {
                  position: unset;
                  // bottom: 50px;
                  // left: 333px;

                }
              }
            }
          }




        }
      }
    }
  }
}



/*fin resumen*/


/*Fin Tablet*/

/*pantallas pequeñas */
@media only screen and (min-width: 769px) and (max-width: 990px) {

  // portada
  .portada {
    .portada-text-img {
      flex-direction: row;
      justify-content: unset;
      height: 90%;

      .portadaText {
        height: 65%;
        text-align: center;
      }
    }

    .waveContenedor {
      width: 100%;
      height: 10%;
    }


  }

  // fin portada

  // planes
  .planes {
    height: 60.0rem;
    align-items: center;

    .planesTitle {
      height: 80px;
    }

    .tarjetasPlanes {
      margin-top: 10%;
      width: 95%;

      .card-group {
        flex-direction: row;
      }

      .card {
        height: 100%;
      }
    }

    h3 {
      padding-left: 10px;
      padding-right: 10px;


    }

  }

  // fin planes

  //beneficios 
  .beneficiosContenedor {
    height: 100rem;

    h2 {
      margin-bottom: 20px;
    }

    .beneficios {
      height: 95%;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;

      .beneficiosCard {
        img {
          width: 220px;
          height: 220px;
        }
      }
    }
  }

  // fin beneficios
  // word
  .opWord {
    flex-direction: column;
    height: 550px;

    .opWordDesc {
      padding-top: 50px;
      text-align: center;
      align-items: center;
      width: 90%;

      .btn {
        width: 50%;
      }
    }

    img {
      width: 250px;
      height: 150px;
    }
  }

  // fin word
  // dominios
  .domSection {
    height: 600px;

    .domSectionContent {
      padding-top: 100px;

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 20px;
      }
    }

    .imgDom {
      img {
        height: 300px;
        width: 300px;
      }
    }

    .busqDom {
      width: 300px;

      .searchDom {
        width: 80%;
      }
    }

    h3 {
      text-align: center;
      font-size: 20px;
    }
  }

  // fin dominios
  // faq
  .faqContenedor {
    .accordion {
      width: 90%;
      padding: 5px;
    }

    .accordion-body {
      img {
        width: 95%;
        height: 95%;
      }

      h5 {
        font-size: 18px;
      }
    }
  }

  // fin faq
  //contacto 
  .contacto {
    .contenedorContacto {
      margin: 0;
      width: 80%;
      margin: auto;

      .contactoBotones {

        flex-direction: column;

        .btn {
          margin: 10px;
        }
      }
    }

    form {
      .formDatos {
        flex-direction: column;

        .formNombres {
          #nombre {

            width: 90%;
            margin-top: 10px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
          }

          #apellido {
            width: 90%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
          }
        }

        .formMedios {
          #email {
            width: 90%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
          }

          #tel {
            width: 90%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
          }

        }
      }

      .formBack {
        width: 80%;
        margin: auto;
      }


    }
  }

  // fin contacto 
  // foooter
  .footer {
    position: relative;
    flex-direction: column;
    height: 55vh;

    .copy {
      height: 30%;
      width: 80%;
      height: 50%;
      margin: auto;
    }

    .redes {
      width: 80%;
      height: 50%;
      margin: auto;

      .redesIcons {
        width: 250px;
        height: 55px;
      }
    }

  }

  // fin footer
  /*resumen*/



  .compraContainer {
    flex-direction: column;
    height: auto;

    #resumenVisible {
      width: 95%;
      padding: 0;

      #resumen {
        margin-top: 50px;
        width: 60%;
        padding: 20px;
        height: unset;
        margin: 30px auto;
      }
    }



    .compra {
      // justify-content: space-around;
      width: 95%;
      margin-top: 10px;
      height: 500px;

      .resumen-body {
        .meses {
          // flex-direction: column;
          padding: 0;

          li {
            height: 60px;
            width: 100px;
            font-size: 15px;
          }
        }

        .sistemaOperativoContainer {
          font-size: 15px;

          .soWin {
            .fa-windows {
              font-size: 20px;
            }
          }

          .soLin {
            .fa-linux {
              font-size: 25px;
            }
          }
        }

        .certificadoSsl {
          font-size: 15px;
          margin-bottom: 16px;

          .sslBoton {
            .fa-shield {
              font-size: 25px;
            }
          }
        }

        .codigoDescuento {
          flex-direction: column;
          align-items: center;

          input {
            height: 35px;
            width: 90%;
            font-size: 15px;
          }
        }
      }
    }
  }



  .start-100 {
    left: 98% !important;
    top: -3px !important;
  }

  /*fin resumen*/
  .modal-content {
    height: 460px;

    .modal-body {
      legend {
        font-size: 16px;
      }

      .formBack {
        .formDatos {
          flex-direction: row;
          justify-content: unset;
          height: 170px;
          margin: auto;

          .formNombres {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;

            .alertName {
              display: flex;
              flex-direction: row;
              width: 270px;
              justify-content: center;

              .alertIconName {
                width: 30px;

                .fa-triangle-exclamation {
                  position: unset;
                  // top: 80px;
                  // left: 333px;
                }
              }
            }

            .alertLastName {
              display: flex;
              flex-direction: row;
              width: 270px;
              justify-content: center;

              .alertIconLastName {
                width: 30px;

                .fa-triangle-exclamation {
                  position: unset;
                  // bottom: 187px;
                  // left: 333px;
                }
              }
            }
          }

          input {
            width: auto;
          }

          .formMedios {
            display: flex;
            flex-direction: column;
            margin: auto;
            align-items: center;


            .alertEmail {
              display: flex;
              flex-direction: row;
              width: 270px;
              justify-content: center;

              .alertIconEmail {
                width: 30px;

                .fa-triangle-exclamation {
                  position: unset;
                  // top: 220px;
                  // left: 333px;
                }
              }
            }

            .alertTel {
              display: flex;
              flex-direction: row;
              width: 270px;
              justify-content: center;

              .alertIconTel {
                width: 30px;

                .fa-triangle-exclamation {
                  position: unset;

                }
              }
            }
          }




        }
      }
    }
  }
}


/*fin resumen*/


/*Fin pantallas pequelas */

/*pantallas medianadas */
@media only screen and (min-width: 991px) and (max-width: 1200px) {

  // portada
  .portada {
    .portada-text-img {
      .portadaText {
        height: 65%;
        text-align: center;
      }
    }

    .waveContenedor {
      width: 100%;
      height: 10%;
    }


  }

  // fin portada

  // planes
  .planes {
    height: 56.0rem;
    align-items: center;

    .planesTitle {
      height: 5px;
    }

    .tarjetasPlanes {
      margin-top: 10%;
      width: 95%;

      .card-group {
        flex-direction: row;
      }

      .card {
        height: 100%;
      }
    }

    h3 {
      padding-left: 10px;
      padding-right: 10px;


    }

  }

  // fin planes

  //beneficios 
  .beneficiosContenedor {
    height: 100rem;

    h2 {
      margin-bottom: 20px;
    }

    .beneficios {
      height: 95%;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;

      .beneficiosCard {
        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }

  // fin beneficios
  // word
  .opWord {
    flex-direction: column;
    height: 550px;

    .opWordDesc {
      padding-top: 50px;
      text-align: center;
      align-items: center;
      width: 90%;

      .btn {
        width: 50%;
      }
    }

    img {
      width: 250px;
      height: 150px;
    }
  }

  // fin word
  // dominios
  .domSection {
    height: 600px;

    .domSectionContent {
      padding-top: 100px;

      h2 {
        font-size: 30px;
      }

      p {
        font-size: 20px;
      }
    }

    .imgDom {
      img {
        height: 300px;
        width: 300px;
      }
    }

    .busqDom {
      width: 300px;

      .searchDom {
        width: 80%;
      }
    }

    h3 {
      text-align: center;
      font-size: 20px;
    }
  }

  // fin dominios
  // faq
  .faqContenedor {
    .accordion {
      width: 90%;
      padding: 5px;
    }

    .accordion-body {
      img {
        width: 95%;
        height: 95%;
      }

      h5 {
        font-size: 18px;
      }
    }
  }

  // fin faq
  //contacto 
  .contacto {
    .contenedorContacto {
      margin: 0;
      width: 80%;
      margin: auto;

      .contactoBotones {

        flex-direction: column;

        .btn {
          margin: 10px;
        }
      }
    }

    form {
      .formDatos {
        flex-direction: column;

        .formNombres {
          #nombre {

            width: 90%;
            margin-top: 10px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
          }

          #apellido {
            width: 90%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
          }
        }

        .formMedios {
          #email {
            width: 90%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
          }

          #tel {
            width: 90%;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
          }

        }
      }

      .formBack {
        width: 80%;
        margin: auto;
      }


    }
  }

  // fin contacto 
  // foooter
  .footer {
    position: relative;
    flex-direction: column;
    height: 55vh;

    .copy {
      height: 30%;
      width: 80%;
      height: 50%;
      margin: auto;
    }

    .redes {
      width: 80%;
      height: 50%;
      margin: auto;

      .redesIcons {
        width: 250px;
        height: 55px;
      }
    }

  }

  // fin footer
  /*resumen*/

  .compraContainer {
    flex-direction: column;
    height: auto;

    #resumenVisible {
      width: 95%;
      padding: 0;

      #resumen {
        margin-top: 50px;
        width: 60%;
        padding: 20px;
        height: unset;
        margin: 30px auto;
      }
    }



    .compra {
      // justify-content: space-around;
      width: 95%;
      margin-top: 10px;
      height: 500px;

      .resumen-body {
        .meses {
          // flex-direction: column;
          padding: 0;

          li {
            height: 60px;
            width: 100px;
            font-size: 15px;
          }
        }

        .sistemaOperativoContainer {
          font-size: 15px;

          .soWin {
            .fa-windows {
              font-size: 20px;
            }
          }

          .soLin {
            .fa-linux {
              font-size: 25px;
            }
          }
        }

        .certificadoSsl {
          font-size: 15px;
          margin-bottom: 16px;

          .sslBoton {
            .fa-shield {
              font-size: 25px;
            }
          }
        }

        .codigoDescuento {
          flex-direction: column;
          align-items: center;

          input {
            height: 35px;
            width: 90%;
            font-size: 15px;
          }
        }
      }
    }
  }



  .start-100 {
    left: 98% !important;
    top: -3px !important;
  }

  /*fin resumen*/
  .modal-content {
    height: 460px;

    .modal-body {
      legend {
        font-size: 16px;
      }

      .formBack {
        .formDatos {
          flex-direction: row;
          justify-content: unset;
          height: 170px;
          margin: auto;

          .formNombres {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: auto;

            .alertName {
              display: flex;
              flex-direction: row;
              width: 270px;
              justify-content: center;

              .alertIconName {
                width: 30px;

                .fa-triangle-exclamation {
                  position: unset;
                }
              }
            }

            .alertLastName {
              display: flex;
              flex-direction: row;
              width: 270px;
              justify-content: center;

              .alertIconLastName {
                width: 30px;

                .fa-triangle-exclamation {
                  position: unset;
                  // bottom: 187px;
                  // left: 333px;
                }
              }
            }
          }

          input {
            width: auto;
          }

          .formMedios {
            display: flex;
            flex-direction: column;
            margin: auto;
            align-items: center;



            .alertEmail {
              display: flex;
              flex-direction: row;
              width: 270px;
              justify-content: center;

              .alertIconEmail {
                width: 30px;

                .fa-triangle-exclamation {
                  position: unset;
                  // top: 220px;
                  // left: 333px;
                }
              }
            }

            .alertTel {
              display: flex;
              flex-direction: row;
              width: 270px;
              justify-content: center;

              .alertIconTel {
                width: 30px;

                .fa-triangle-exclamation {
                  position: unset;
                  // bottom: 50px;
                  // left: 333px;

                }
              }
            }
          }




        }
      }
    }
  }

  /*fin resumen*/
}

/*fin pantallas medianas */



@media (min-width: 576px) {
  .modal-dialog {
    max-width: 800px;

  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
      position: relative;
      z-index: 1;
    }
  }
}

@media (min-width: 1200px) {

  .h4,
  h4 {
    font-size: 1.3rem;
  }

}